img {
    Height:auto;
    width: 100%;
}

body {
    position: relative;
    font-size: 16px;
    font-family: 'Amatic SC', cursive;
    background-color: black;
    color:grey;
}

footer {
    height: 30px;
    width: 100%;
    text-align: center;
    position: fixed;
}




