@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

img {
    Height:auto;
    width: 100%;
}

body {
    position: relative;
    font-size: 16px;
    font-family: 'Amatic SC', cursive;
    background-color: black;
    color:grey;
}
.container-fluid {
    width: 90%;
    overflow: auto;
}
div.row {
    /* height: 500px; */
    
}
div.col-md-4 .li {
height: 600px;
}

.row .typewriter {
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size:50px;
    text-align:center;
    padding-bottom: 56px;
}
nav {
    z-index: 1;
}
.navbar {
    transition: top 0.6s; /* Transition effect when sliding down (and up) */
}
}
.navbar-collapse {
    justify-content: center;
}
.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,.1);
}
.navbar-toggler {
    background-color: rgb(59, 57, 57);
    border-radius: 55%;
}
.navbar-toggler-icon {
color: white;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
ul {
    padding-left: 0px;
    list-style-type: none;
}

ul h1,h2,h3,h4,h7 {
        padding-left:7px;
}
ul h1 {
    font-family: 'Anton', sans-serif;
    color:  #f7f1f1;
}
ul h6 {
    text-align: center;
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    padding-top: 6px;
}
ul h7{
    color: #b5b5c3;
    font-size: 20px;
    font-family: fangsong;
}

.row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */
}
/* curve the list background edges */
li {
    background-color: #262927;
    border-radius: 40px;
}
li a {
    text-decoration: none;
}
li h3{
    color: lightblue;
    text-align: center;

}
/* curve the bottom edges of the article description section*/
li h4 {
    font-weight: 600;
    color: #060606;
    padding: 6px 8px;
    background-color: rgb(255 255 255);
    font-size: 33px;
    line-height: 1.1;
    font-family: 'Lateef', cursive;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
hr.list {
    width: 50%;
    border-top: 1px solid white;
}

i {
    color:rgb(188, 206, 184);
    font-size: 40px;
}
i:hover {
     color:rgb(196, 207, 40);
}

/* Navabr button icon styling*/

.navbar {
position: fixed;
width: 100%;
top: 0px;
background-color: black;
padding: 0.5rem 1rem 1.6rem;
}

footer {
    height: 35px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0px;
    background-color: black;
    font-size: 25px;
}

.btn {
    background-color: #6fbd2126;
    border-radius: 0.95rem;
    border: none;
}
button {
    font-family: 'Castoro', serif;
    font-size: 16px;
}
.btn:focus {
background-color: #000000;
    color: #ffedc6;
    border: none;
}
button i {
    font-size: 16px;
    color: #ececec;
    padding: 0px 1px 0px 0px;
}
button i:focus {
    padding: 0px 1px 0px 0px;
}
.btn-outline-success {
    color: #b1b9b3;
    border-color: #3a3c3b;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #444845;
    border-color: #5a5d5a;
}

.btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgb(243 247 243 / 50%);
}
/* .btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #617967;
    border-color: #748478;
} */
nav form button {
    text-transform: uppercase;
    font-family: 'Castoro', serif;
    font-size: 16px;
    margin: 0px 5px;
}
nav form button:active {
    text-transform: uppercase;
    font-family: 'Castoro', serif;
    margin: 0px 5px;
    border: none;
    background-color:#000;
    box-shadow: 10px 8px 12px -6px #e9ecef;         /* shine settings  */
    -webkit-animation: shine 6s ease-in-out infinite alternate;
    -moz-animation: shine 6s ease-in-out infinite alternate;
    -o-animation: shine 6s ease-in-out infinite alternate;
    animation: shine 6s ease-in-out infinite alternate;
    
}

nav form button:hover {
    box-shadow: 1px 4px 7px -2px #e9ecef;
    transform: scale(1.2);
    -webkit-transition: .4s ease-in-out;              /* increasing div size over total .8 seconds */
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    -o-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {                             /* For glowing text effect */
  from {
    text-shadow: 0 0 1px #000,  0 0 2px #fff;
  }
  
  to {
    text-shadow: 0 0 2px #fff,  0 0 1px #000;
     }
}

@-webkit-keyframes shine {                           /* For default div shine effect */
  from {
      box-shadow: 10px 8px 12px -6px #e9ecef,  0px 0px 0px 0px #0f0f0f;
   
  }
  
  to {
     box-shadow: 0px 0px 0px 0px #0f0f0f,  1px 0px 0px 0px #e9ecef3a;
     }
}

/* Media Queries to style output across multiple devices from Galaxy fold to desktop */ 
@media only screen and (min-width: 280px)    {

.navbar-collapse {
    justify-content: center;
}
 div.container-fluid {
    margin-top: 65px;
} 
.navbar-toggler {
    margin-bottom: 10px;
}
.row #typewriter {
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size:50px;
    text-align:center;
    padding-bottom: 56px;
}
.btn {
    margin-bottom: 3px;
        /* font-family: 'Akronim', cursive; */
}
nav form button {
    text-transform: uppercase;
    font-family: 'Castoro', serif;
    font-size: 16px;
    margin: 0px 5px;
}
}

@media only screen and (min-width: 354px)    {

}

@media only screen and (min-width: 768px)    {
.row #typewriter {
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 50px;
    text-align: center;
    padding-bottom: 56px;
    padding-top: 25px;
}
.navbar-expand-md .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    justify-content: center;
}
}

@media only screen and (min-width: 866px)    {

div.container-fluid {
    margin-top: 65px;
}
}

